<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WiSDOM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="../static/candymainstyle.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="landing">
    <div class="poster-wrapper">

      <div class="posters-container">
        <div class="poster-header">
          <div class="poster-heading">
            <h1 class="reveal-text">WiSDOM : Adaptive Data Obfuscation</h1>
          </div>
          <div class="poster-sub-heading">
            <h2 class="reveal-text"> 2021 </h2>
          </div>
        </div>
        <div class="poster-body">
          <div class="poster-text">
            <h4>
              <span>
                A child born today will grow up with no conception of privacy at all. They’ll never know what it means to have a private moment to themselves, an unrecorded unanalyzed thought. And that’s a problem because privacy matters. Privacy is what allows us to determine who we are and who we want to be.
              </span>
            </h4>
            <span class="poster-author"> –Edward Snowden</span>
          </div>
          <div class="slab-wrapper">
            <div class="slab"></div>
            <div class="slab"></div>
            <div class="slab"></div>
            <div class="slab"></div>
            <div class="slab"></div>
            <div class="slab"></div>
            <div class="slab"></div>
            <div class="slab"></div>
            <div class="slab"></div>
            <div class="slab"></div>
          </div>
        </div>
        <ul class="poster-footer">
          <li class="foot-box" data-num="1">
            <a href="/about" class="democracy-trumped active foot-link" data-link="Democracy Trumped">About</a>
          </li>
          <li class="foot-box" data-num="2">
            <a href="/why" class="no-planet-b foot-link" data-link="No planet B">Why WiSDOM?</a>
          </li>
          <li class="foot-box" data-num="3">
            <a href="/creditcard" class="secure-insecure foot-link" data-link="Secure / Insecure"> Credit Card Demo </a>
          </li>
          <li class="foot-box" data-num="4">
            <a href="/comp" class="maga foot-link" data-link="maga"> Comparison </a>
          </li>

        </ul>
      </div>

    </div>
  </section>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src="../static/candymainscript.js"></script>

</body>

</html>